# Basic requirements
fastapi
uvicorn
aiohttp
bs4
colorama
python-dotenv
nltk
pydantic
numpy
sentence-transformers
discord.py
aiosqlite
psutil
sortedcontainers

# Curses on Windows vs. non-Windows
windows-curses; sys_platform == "win32"

