# Basic requirements
fastapi
uvicorn[standard]
aiohttp
bs4
colorama
python-dotenv
textual
pyperclip
pydantic
numpy
sentence-transformers
discord.py
aiosqlite
psutil
sortedcontainers
aiorwlock
spacy

# Curses on Windows vs. non-Windows
windows-curses; sys_platform == "win32"

